/*------------------------------------------------------------------
[3.3. Borders]
------------------------------------------------------------------*/
/*------------------------------------------------------------------
[#. Border Colors]
*/
.border-light {
    border-color: #ededed9f!important;
}
.border-top-light {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.border-white-10 {
    border-color: rgba(255, 255, 255, 0.1)!important;
}