.blog-box {
    text-decoration: none;
    border: none;
    .card-img {
        height: 200px;
        width: auto;
        object-fit: cover;
    }
    .card-body {
        padding: 32px 0;
    }
    .card-subtitle {
        font-size: 13px;
        font-weight: 400;
        line-height: 20px;
        color: $slate-gray;
        text-transform: uppercase;
    }
    .card-title {
        font-size: 18px;
        font-weight: 600;
        line-height: 22px;
        color: $slate-gray;
        margin: 10px 0;
    }
    .card-text {
        line-height: 24px;
    }
    &:hover {
        .card-title {
            color: $primary;
        }
    }
}