/*------------------------------------------------------------------
[1.2. Mixins]
------------------------------------------------------------------*/
/*------------------------------------------------------------------
[#. Transitions]
*/
@mixin easeInOut15s {
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -ms-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}
@mixin easeInOut20s {
    -webkit-transition: all 0.20s ease-in-out;
    -moz-transition: all 0.20s ease-in-out;
    -ms-transition: all 0.20s ease-in-out;
    -o-transition: all 0.20s ease-in-out;
    transition: all 0.20s ease-in-out;
}
@mixin easeInOut25s {
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}
@mixin easeInOut30s {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    transition: all 0.30s ease-in-out;
}
@mixin easeInOut35s {
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}
/*------------------------------------------------------------------
[#. Animations]
*/
@mixin spinAnimation {
    -webkit-animation: spin 1s infinite;
    -moz-animation: spin 1s infinite;
    -ms-animation: spin 1s infinite;
    -o-animation: spin 1s infinite;
    animation: spin 1s infinite;
}
/*------------------------------------------------------------------
[#. Shadows]
*/
@mixin lightShadow {
    box-shadow:
        0px 2.8px 2.2px rgba(0, 0, 0, 0.003),
        0px 6.7px 5.3px rgba(0, 0, 0, 0.004),
        0px 12.5px 10px rgba(0, 0, 0, 0.005),
        0px 22.3px 17.9px rgba(0, 0, 0, 0.006),
        0px 41.8px 33.4px rgba(0, 0, 0, 0.007),
        0px 100px 80px rgba(0, 0, 0, 0.01)
    ;
}
@mixin defaultShadow {
    box-shadow:
        2.8px 2.8px 2.2px rgba(0, 0, 0, 0.011),
        6.7px 6.7px 5.3px rgba(0, 0, 0, 0.016),
        12.5px 12.5px 10px rgba(0, 0, 0, 0.02),
        22.3px 22.3px 17.9px rgba(0, 0, 0, 0.024),
        41.8px 41.8px 33.4px rgba(0, 0, 0, 0.029),
        100px 100px 80px rgba(0, 0, 0, 0.04)
    ;
}
@mixin spinShadow {
    -webkit-box-shadow: 20px 0 0 5px var(--primary), -20px 0 0 5px var(--primary);
    box-shadow: 20px 0 0 5px var(--primary), -20px 0 0 5px var(--primary); 
}
@mixin cardShadow {
    -webkit-box-shadow: 0 6px 24px 0 rgba(140, 152, 164, 0.125);
    box-shadow: 0 6px 24px 0 rgba(140, 152, 164, 0.125);
}