/*------------------------------------------------------------------
[1.1. Variables]
------------------------------------------------------------------*/
/*------------------------------------------------------------------
[#. Colors]
*/
$white: #FFFFFF;
$off-white: #FAFAFA;
$ghost-white: #FAFBFE;
$slate-gray: #677788;
$primary: #377DFF;
$secondary: #312ECB;